/node_modules
.env
part1/sandbox/
part2/sandbox/
part3/sandbox/
part3/node_modules/
part3/.env
part4/sandbox/
part4/node_modules/
part4/.env
part4/blog/node_modules/
part6/sandbox
part9/hello/node_modules
part9/exercises/node_modules
part9/patientor/node_modules
part9/patientor-backend/node_modules
part9/flightdiary/node_modules